{% extends "base.html"%}

{% block title %}{{ page_info.title }}{% endblock %}

{% block top %}

{% include "banner.html"%}

{% endblock %}

{% block content %}

{% for posts in posts_year %}
    <h1 class="post-pub-year">{{ posts.0 }}</h1>
    <hr />
    {% for post in posts.1 %}
        <h3 class="post-pub-time">{{ post.create_time|date:"M dS" }}</h3>
        <h2><a class="post-title" href="{% url 'soyBlog:post' post_id=post.id %}"><b>{{ post.title }}</b></a><h2>
        <h5>
        {% for tag in post.tag.all %}
          <span class="label label-default">{{ tag }}</span>
        {% endfor %}
        </h5>
    {% endfor %}
    <br>
{% endfor %}

{% endblock %}
