{% extends "base.html"%}

{% block title %}{{ page_info.title }}{% endblock %}

{% block top %}

{% include "banner.html"%}

{% endblock %}

{% block content %}

{% for posts in posts_year %}
    <h2><small>{{ posts.0 }}</small></h2>
    <hr />
    {% for post in posts.1 %}
        <p class="post-pub-time">{{ post.create_time|date:"M dS" }}</p>
        <a class="post-title" href="{% url 'soyBlog:post' post_id=post.id %}"><b>{{ post.title }}</b></a>
        <h5>
        {% for tag in post.tag.all %}
          <span class="label label-default">{{ tag }}</span>
        {% endfor %}
        </h5>
    {% endfor %}
    <br>
{% endfor %}

{% endblock %}
