{% extends "base.html"%}

{% block title %}{{ page_info.title }}{% endblock %}

{% block top %}

{% include "banner.html"%}

{% endblock %}

{% block content %}

{% for post in posts %}
<h4 class="post-pub-time">{{ post.create_time|date:"M dS, Y" }}</h4>
<h2><a class="post-title" style="color=ffffff"  href="{% url 'soyBlog:post' post_id=post.id %}"><b>{{ post.title }}</b></a></h2>
<div class="post-tags">
<h5>
{% for tag in post.tag.all %}
    <span class="label label-default">{{ tag }}</span>
{% endfor %}
</h5>
</div>
<br>
</p>{{ post.content }}</p>
<hr />
{% endfor %}

<ul class="pager">
    {% if prev_page %}
    <li class="previous"><a href="{% url 'soyBlog:main' page=prev_page %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Newer</a></li>
    {% endif %}
    {% if next_page %}
    <li class="next"><a href="{% url 'soyBlog:main' page=next_page %}">Older <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
    {% endif %}
</ul>

<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>

{% endblock %}
