{% extends "base.html"%}

{% block title %}{{ page_info.title }}{% endblock %}

{% block top %}

{% include "banner.html"%}

{% endblock %}

{% block content %}

<h4 class="post-pub-time">{{ post.create_time|date:"M dS, Y" }}</h4>
<h2 class="post-title"><b>{{ post.title }}</b></h2>
<div class="post-tags">
<h5>
{% for tag in post.tag.all %}
  <span class="label label-default">{{ tag }}</span>
{% endfor %}
</h5>
</div>
<br>
<p>{{ post.content }}</p>
<hr />

<ul class="pager">
    {% if next_post %}
    <li class="previous">
        <a href="{% url 'soyBlog:post' post_id=next_post.id %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ next_post.title }}</a>
    </li>
    {% endif %}
    {% if prev_post %}
    <li class="next">
        <a href="{% url 'soyBlog:post' post_id=prev_post.id %}">{{ prev_post.title }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
    </li>
    {% endif %}
</ul>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sooooy.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    // code highlight
    hljs.initHighlightingOnLoad();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
