{% extends "base.html"%}

{% block title %}首页{% endblock %}

{% block top %}

{% include "banner.html"%}

{% include 'navbar.html' %}

{% endblock %}

{% block content %}

<h1>{{ words }}</h1>
<br>
<p>階段の片隅に座りうずくまるあの人に何があったんだろう?</p>
<p>一体何を見て来たんだろう?</p>
<p>人混みの中で睨み合う男女の間に何が起こったの?</p>
<p>一体どんな事情があったんだろう?</p>
<p>いつか僕を呼び出した先生が怒鳴ってたその真意はどんなだったろう?</p>
<p>一体僕は何をしたんだろう?</p>
<p>目の前で満面の笑みを浮かべて握手してるこの人は誰だろう?</p>
<p>僕は今どこで何をしてんだろう?</p>
<p>ことの真相は何も分かってるようで分からない</p>
<p>それでもどうにか生きていかなくちゃならない</p>
<p>知ったかぶりなんて出来ない</p>
<p>でも知りたいこともあまりない</p>
<p>ただ一つ確かなのは僕の気持ち 「君が好き」</p>
<p>いつか食べたパスタの上にのっかってた具材は何だったんだろう?</p>
<p>一体僕は何を食べたんだろう?</p>
<p>いつからか続いてる戦争の果てにどんなことが待っているんだろう?</p>
<p>そして僕に何が出来るんだろう?</p>
<p>ことの真相は何も知っているようで知り得ない</p>
<p>それでもどうにか歩いていかなくちゃならない</p>
<p>疑ってばかりいられない　でも信じれるものも少ない</p>
<p>ただ一つ確かなのは今このとき 「誰が好き?」</p>
<p>その声をからしてまで　その命削らしてまで</p>
<p>見つけ出したいものがまだこの世のどっかにあって</p>
<p>それが何であれ試行錯誤し傷つけ癒しあう僕らの今日</p>
<p>テレビの中で怒鳴り合っているあの人たちに何があったの?</p>
<p>一体どんな事情があったんだろう?</p>
<p>少し気まずくなっていた友達に今電話したら何を言われるだろう?</p>
<p>そして僕は何て言うんだろう?</p>
<p>チャンネルを変えたら不気味に笑う人たち何が可笑しいんだろう?</p>
<p>僕らは何を怖がっているんだろう?</p>
<p>あのとき君がくれたkissにはどんな想いが隠されていたの?</p>
<p>今君はどこで何をしてんだろう?</p>
<p>ことの真相は何も知っているようで知り得ない</p>
<p>それでもどうにかこうにか生きていかなきゃならない</p>
<p>疑ってばかりいられない</p>
<p>でも信じれるものも少ない</p>
<p>ただ一つ確かなのは僕の気持ち</p>
<p>君のその声聞かしてよ 信じれるものがそこにあるよ</p>
<p>ただ一つ確かなのは今このとき</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>
<p>「君が好き」</p>

{% endblock %}
