<html>
<head>
    <style>
        #luckytoybg {
            position:fixed;
            bottom:180px;
            right:50px;
            z-index:0;
        }
        #luckytoywords {
            position:fixed;
            bottom:256px;
            right:90px;
            z-index:10;
        }
    </style>

    <script type="text/javascript">
        var word_index = -1;
        var word_array = new Array(
            "触らないで！",
            "いい加減にしろよ！",
            "うるさい！",
        );

        function getWord(){
            return word_array[word_index + 1 < word_array.length ? ++word_index : word_index=0];
        }

        function speech(word){
            var msg = new SpeechSynthesisUtterance(word);
            msg.voice = speechSynthesis.getVoices().filter(function(voice) { return voice.name == 'Google 日本語'; })[0];
            speechSynthesis.speak(msg);
        }

        $(document).ready(function(){
            $("#luckytoywords").html(getWord());
        });

        function changewords(){
            var new_word = getWord()
            $("#luckytoywords").html(new_word);
            speech(new_word);
        }
    </script>

</head>

<body>
    <div>
        {% load static %}
        <img src="{% static "images/luckytoy.png" %}" onclick="changewords()" id="luckytoybg">
        <p id="luckytoywords"></p>
    </div> 
</body>
</html>
