{% load static %}
<img class="img-circle" src="{% static "images/avatar.jpg" %}" alt="Soy" height="140" width="140">
<h3 class="light-color-prim"><b>Soy</b></h3>
<p class="light-color">总想搞点大新闻</p>

<h4 class="light-color-prim"><b>GITHUB</b></h4>
<div class="github-card" data-github="z2690108" data-width="270" data-height="150" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<h4 class="light-color-prim"><b>STEAM</b></h4>
<div class="steam-card" data-id="76561198096800938" data-lang="zh" data-width="270"></div>
<script src="{% static "steam-card/src/widget.js" %}"></script>

<h4 class="light-color-prim"><b>PIXIV TOP50 TODAY</b></h4>
<iframe src="https://cloud.mokeyjay.com/pixiv/?color=222222" frameborder="0" style="width:260px; height:340px;"></iframe>

